<%= form_for(@question) do |f| %>
	<div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	</div>
	<%= hidden_field_tag :pid , params[:project_id] %>
	<div class="field">
	    <%= f.label :content %><br />
	    <%= f.text_area :content %>
	</div>
	<div class="field">
		<%= f.label :answer_type %><br />
		<%= select(f, :answer_type, %w[button textinput]) %>
	</div>
	<div class="field">
	    <%= f.label :audio_url %><br />
	    <%= f.text_field :audio_url %>
	</div>
	<div class="field">
	    <%= f.label :picture_url %><br />
	    <%= f.text_field :picture_url %>
	</div>
	<div class="field">
		<%= f.label "Set reminder" %>
      	<%= f.radio_button :set_reminder, :true %>
      	<br><br>
      	<%= f.label "No reminder" %>
      	<%= f.radio_button :set_reminder, :false %>
      	<br><br>
  	</div>
	<div class="field">
	    <%= f.label :next_model %><br />
	    <%= f.text_field :next_model %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>