<div class="page-header">
  <h1 class="hleft">Registrering</h1>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :phone, "Telefonnummer"%>
      <%= f.text_field :phone %>

      <%= f.label :password, "Lösenord"%>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Upprepa lösenordet" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Skapa mitt konto", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>