<div class="page-header">
	<h1 class="hleft">Edit option</h1>
</div>
<%= link_to "Back", @option.reverse_roqs.first.question , class:"btn btn-small btn-secondary" %><br><br>
<section class="well">
	<dl class="dl-horizontal">
		<dt>Text</dt>
		<dd><%= @option.text %></dd>
	</dl>
</section>
<%= form_for(@option) do |f| %>
	    <%= f.label :text %>
	    <%= f.text_field :text, style: "height:40px" %>
	    <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
<% end %>
