<h1>Editing an option</h1>
<h2><%= @roq.question.name %></h2>
<%= link_to "Back", question_path(@roq.question.id), class:"btn btn-small btn-secondary" %> <br><br>
<section class="well">
<dl class="dl-horizontal">
	<dt>Option for question</dt>
	<dd><%= @roq.question.name %></dd>
	<dt>Text</dt>
	<dd><%= @roq.option.text %></dd>
	<dt>Value</dt>
	<dd><%= @roq.value ||= "-" %></dd>
	<dt>Min range / Max range</dt>
	<dd><%= (@roq.min_range ||= "-") + " / " + (@roq.max_range ||= "-") %></dd>
	<dt>Leads to</dt>
	<dd><%= @roq.next.name ||= "Not set" %></dd>
</dl>
</section>
<div class="row">
	<div class="span6">
		<%= form_for(@roq) do |f| %>

			    <%= f.label :question_id %>
			    <%= f.number_field :question_id, style: "height:40px" %>

			    <%= f.label :option_id %>
			    <%= f.number_field :option_id, style: "height:40px" %>

			    <%= f.label :value %>
			    <%= f.number_field :value, style: "height:40px" %>
			    
			    <%= f.label :next_id %>
			    <%= f.collection_select :next_id, @questions, :id, :name, :prompt => true, style: "height:40px" %>
			    <% f.select :next_id, options_from_collection_for_select(@questions, :id, :name), :include_blank => false, style: "height:40px" %>
 
 				<%= f.label :min_range %>
			    <%= f.number_field :min_range, style: "height:40px" %>
			    
			    <%= f.label :max_range %>
			    <%= f.number_field :max_range, style: "height:40px" %>
			    
			    <!-- <%= f.number_field :next_id %> -->

			    <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
		<% end %>
	</div>
	<div class="span6">
		<h2>List of questions</h2>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Content</th>
				</tr>
			</thead>
			<tbody>
			<% @questions.each do |question| %>
				<tr>

					<td><%= question.id %></td>
					<td><%= question.name %></td>
					<td>
							<%= question.content ||= "Not set" %>
					</td>
				</tr>
			<% end %>
			</tbody>	
		</table>
	</div>
</div>