<h1>Edit project</h1>
<h2><%= @project.name %></h2>
<%= link_to "Back", project_path, class:"btn btn-small btn-secondary" %><br><br>
<section class="well">
	<ul>
		<li><b>Id:</b> <%= @project.id %></li>
		<li><b>Created:</b> <%= @project.created_at %></li>
		<li><b>Version:</b> <%= @project.version %></li>
		<li><b>Number of questions:</b> <%= @project.questions.count %></li>
	</ul>
</section>
<%= form_for(@project) do |f| %>
	    <%= f.label :name %>
	    <%= f.text_field :name %>

	    <%= f.label :version %>
      	<%= f.text_field :version %>

      	<%= f.label :start_question %>
      	<%= f.number_field :start_question %>

      	<%= f.label "Enable" %>
      	<%= f.radio_button :active, :true %>
      	<br><br>
      	<%= f.label "Disable" %>
      	<%= f.radio_button :active, :false %>
      	<br><br>
	    <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
<% end %>
