<h1><%= @project.name %></h1>
<% if @project.active %>
	<h2 class="active">Active</h2>
	<div class="btn-group">
		<%= link_to "Back", projects_path, class:"btn" %>
		<%= link_to "Edit", edit_project_path, class:"btn" %>
		<%= link_to "XML", project_path(:format => :xml) , class:"btn" %>
		<%= link_to "JSON", project_path(:format => :json) , class:"btn" %>
	</div>
<% else %>
	<h2 class="inactive">Inactive</h2>
	<div class="btn-group">
		<%= link_to "Back", projects_path, class:"btn" %>
		<%= link_to "Edit", edit_project_path, class:"btn" %>
	</div>
<% end %>
<br>
<section class="well">
<p>Information:</p>
<dl class="dl-horizontal">
  <dt>ID</dt>
  <dd><%= @project.id %></dd>
  <dt>Active</dt>
  <dd>
		<% if @project.active %>
			<span class="label label-success">Yes</span>
		<% else %>
			<span class="label label-important">No</span>
		<% end %>
  </dd>
  <dt>Created at</dt>
  <dd><%= @project.created_at %></dd>
  <dt>Updated at</dt>
  <dd><%= @project.updated_at %></dd>
  <dt>Version</dt>
  <dd><%= @project.version %></dd>
  <dt>Start question</dt>
  <dd><%= @project.start_question %></dd>
  <dt>Name of question</dt>
  <dd><%= @project.start_question_name %></dd>
  <dt>Number of questions</dt>
  <dd><%= @project.questions.count %></dd>
</dl>
</section>
<%= link_to "Add question", new_question_path(project_id: @project.id), class: "btn btn-large btn-primary" %>
<%= render 'list' %>
